.cennik-container {
    background-color: #fff;
    padding: 4rem 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .content-table{
    border-radius: 5px;
    border-collapse: collapse;
    margin: 25px 0;
    width: 90%;
    max-width: 600px;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  }

  .content-table thead tr{
    background-color: #4267B2;
    text-align: left;
    color: white;
    font-weight: bold;
  }
  .content-table th,
  .content-table td{
    padding: 12px 15px;
  }

  .normal-row{
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
  }

  .normal-row:hover{
    color: #4267B2;
  }

  .content {
    overflow: hidden;
    max-height: 0;
    display: none;
  }

  .content.show {
    display: contents;

  }
  .content-show {
    transition: all 0.5s cubic-bezier(0,1,0,1);
    max-height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    border-bottom: 1px solid #dddddd;
  }