  .contact_site_container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact_container {
    height: 400px;
    width: 80%;
    background-color: white;
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
    overflow: hidden;
  }
  .form_container{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .form_header{
    margin: 20px 30px;
  }
  .form_imput_container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0 20px;
  }
  .contact_info_form{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
  }
  .message_form{
    flex: 1;
  }
  .form_part{
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
  }
  .personal_info{
    padding: .6em .7em;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .message_input{
    height: 54%;
    padding: .6em .7em;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none;
  }
  .social_information{
    background-color: gray;
    height: 100%;
    width: 30%;
    display: flex;
  }
  .social_information_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0 30px;
  }
  .social_information_section{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .social_information_icon{
    width: 20px;
    height: 20px;
  }
  form button {
    margin: 50px 0 0;
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 5px;
    background-color: #001517;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: white;
    font-weight: bold;
  }
  form button:hover {
    background-color: unset;
    border: 2px solid #e49504;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: black;
  }
  .formWord {
    width: 50%;
    padding: 3%;
  }
  .formWord h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 10%;
  }
  .formWord input {
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    padding-left: 3%;
    background: rgb(184, 189, 189);
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  }
  .formWord textarea {
    width: 100%;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    height: 100px;
    color: black;
    background: rgb(184, 189, 189);
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    padding-left: 3%;
  }