/* 
.form {
    background-color: rgb(184, 189, 189);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  form {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
  } */
  .contact_site_container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact_form_container {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px grey;
    border: 1px solid black;
  }
  .form_imput_container{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .contact_info_form{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
  }
  .message_form{
    flex: 1;
  }
  .form_part{
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
  }
  .personal_info{
    box-shadow: inset 0 0 5px 1px grey;
    padding: .6em .7em;
    border: 1px solid black;
    border-radius: 5px;
  }
  .message_input{
    box-shadow: inset 0 0 5px 1px grey;
    height: 100%;
    padding: .6em .7em;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
  }
  form button {
    margin: 20px;
    width: 300px;
    height: 55px;
    border: 0;
    border-radius: 5px;
    background-color: #001517;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: white;
    font-weight: bold;
  }
  form button:hover {
    background-color: unset;
    border: 2px solid #e49504;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: black;
  }
  .formWord {
    width: 50%;
    padding: 3%;
  }
  .formWord h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 10%;
  }
  .formWord input {
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    padding-left: 3%;
    background: rgb(184, 189, 189);
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  }
  .formWord textarea {
    width: 100%;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    height: 100px;
    color: black;
    background: rgb(184, 189, 189);
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    padding-left: 3%;
  }