  .contact_site_container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
  }
  .contact_container {
    height: 350px;
    width: 100%;
    max-width: 1080px;
    background-color: white;
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
    overflow: hidden;
  }
  .form_container{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .form_header{
    margin: 20px 30px;
  }
  .comment_header{
    color: white;
    margin: 20px 0;
  }
  .form_imput_container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0 20px;
  }
  .contact_info_form{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }
  .message_form{
    flex: 1;
  }
  .form_part{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
  .form_part_message{
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
  .personal_info{
    padding: .6em .7em;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  .message_input{
    height: 140px;
    padding: .6em .7em;
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: none;
  }
  .social_information{
    background-color: #4267B2;
    height: 100%;
    width: 30%;
    display: flex;
  }
  .social_information_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 0 30px;
  }
  .social_information_section{
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .social_information_icon{
    color: white;
    width: 20px;
    height: 20px;
  }
  form button {
    width: 100%;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #4267B2;
    transition: 0.15s linear;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  form button:hover {
    opacity: .9;
    background-color: #4267B2;
  }
  .formWord {
    width: 50%;
    padding: 3%;
  }
  .formWord h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 10%;
  }
  .formWord input {
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    padding-left: 3%;
    background: rgb(184, 189, 189);
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  }
  .formWord textarea {
    width: 100%;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    height: 100px;
    color: black;
    background: rgb(184, 189, 189);
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    padding-left: 3%;
  }
  .social_information_icon_2{
    height: 40px;
  }
  .row{
    margin: auto 0;
  }