/* CSS for disappearing navbar */

.ScrollingUp {
  background-color: #242424;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: top 0.2s ease-in-out;
}

.ScrollingDown {
  background-color: #242424;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: -87px;
  z-index: 999;
  transition: top 0.2s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-weight: bold;
  margin: 0 3rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;   
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
}

.nav-links {
  border-bottom: 4px solid transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2rem 0.5rem calc(2rem - 4px) 0.5rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-container{
    margin: 0 1.5rem;
  }
  .navbar-logo{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .NavBarItems {
    position: fixed;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;           
    position:fixed;
    top: 87px;
    left: -100%;
    bottom: 0;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
  }

  .nav-menu.active {
    background: #242424;
    left: 0;
    opacity: 1;
    z-index: -1;
    padding-top: 5rem;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
    padding: calc(1.5rem - 0.5px) 0;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    position: relative;
    bottom: 0;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}